<div id="control_box_{{id}}" class="control-box{{#if selected}} selected{{/if}}" draggable="true" data-element="{{id}}" style="position:absolute;left:{{x}}px;top:{{y}}px;width:{{w}}px;height:{{h}}px">
  <div class="control-border"></div>
  <div class="resize-handle resize-handle-t" draggable="true" data-edge="t"></div>
  <div class="resize-handle resize-handle-tr" draggable="true" data-edge="tr"></div>
  <div class="resize-handle resize-handle-r" draggable="true" data-edge="r"></div>
  <div class="resize-handle resize-handle-br" draggable="true" data-edge="br"></div>
  <div class="resize-handle resize-handle-b" draggable="true" data-edge="b"></div>
  <div class="resize-handle resize-handle-bl" draggable="true" data-edge="bl"></div>
  <div class="resize-handle resize-handle-l" draggable="true" data-edge="l"></div>
  <div class="resize-handle resize-handle-tl" draggable="true" data-edge="tl"></div>
</div>
