<div id="control_box_{{id}}" class="control-box" draggable="true" data-element="{{id}}" style="position:absolute;left:{{x}}px;top:{{y}}px;width:{{w}}px;height:{{h}}px">
  <div class="control-border"></div>
  <div class="resize-handle" draggable="true"></div>
</div>
