<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">{{title}}</h3>
</div>
<div class="bbm-modal__section">
  {{#if message}}<span class="dialog-message">{{message}}</span>{{/if}}
  {{#each editValues}}
    {{#if options}}
    <select class="edit-value {{class}}">
      {{#each options}}
        {{#if displayValue}}
          <option value="{{value}}"{{#if selected}} selected{{/if}}>{{displayValue}}</option>
        {{else}}
          <option{{#if selected}} selected{{/if}}>{{value}}</option>
        {{/if}}
      {{/each}}
    </select>
    {{else}}
    <input type="text" class="edit-value {{class}}" value="{{value}}" />
    {{/if}}
  {{/each}}
</div>
<div class="bbm-modal__bottombar">
  {{#each actions}}
  <a href="#" class="bbm-button {{class}}">{{label}}</a>
  {{/each}}
</div>
