<div class="framer-modal property-panel showing" data-element="{{id}}">
  <input type="text" class="content" data-element="{{id}}" value="{{text}}" />
  <input type="text" class="font-family" data-element="{{id}}" />
  <input type="text" class="font-size" data-element="{{id}}" />
  <button class="cancel">Cancel</button>
  <button class="save">Save</button>
</div>
