<div class="framer-modal property-panel showing">
  <div class="framer-fields">
    {{#each properties}}
      <label for="property-panel-{{propName}}">{{label}}</label>
      {{#if typeTextarea}}
      <textarea {{> _propertyPanelInputData}}>{{value}}</textarea>
      {{else}}
      {{#if typeCheckbox}}
      <input type="checkbox" value="true" {{> _propertyPanelInputData}}{{#if value}}checked="true"{{/if}} />
      {{else}}
      {{#if typeNumber}}
      <input type="number" value="{{value}}" {{> _propertyPanelInputData}} />
      {{else}}
      {{#if typeColor}}
      <input type="color" {{#if value}}value="{{value}}" {{/if}}{{> _propertyPanelInputData}} />
      {{else}}
      <input type="text" value="{{value}}" {{> _propertyPanelInputData}} />
      {{/if}}{{/if}}{{/if}}{{/if}}
    {{/each}}
  </div>
  <button class="save">Save</button>
</div>
