<div class="framer-modal property-panel showing" data-element="{{id}}">
  <textarea class="content" data-element="{{id}}">{{text}}</textarea>
  <input type="text" class="font-family" data-element="{{id}}" value="{{fontFamily}}" />
  <input type="text" class="font-size" data-element="{{id}}" value="{{fontSize}}" />
  <input type="text" class="border-width" data-element="{{id}}" value="{{borderWidth}}" />
  <input type="text" class="border-color" data-element="{{id}}" value="{{borderColor}}" />
  <input type="text" class="fill-color" data-element="{{id}}" value="{{fillColor}}" />
  <button class="cancel">Cancel</button>
  <button class="save">Save</button>
</div>
