<div class="framer-element framer-drawn-element{{#if shapeClass}} {{shapeClass}}{{else}} rectangle{{/if}}" {{> _elementStyle}}>
  {{#if text}}<span class="framer-text" style="{{#if fontFamily}}font-family:'{{fontFamily}}';{{/if}}{{#if fontSize}}font-size:{{fontSize}};{{/if}}">{{text}}</span>{{/if}}
</div>
